In [1]:
import pandas as pd
import numpy as np
import re

In [145]:
conv_path = 'dialogue_data/movie_conversations.tsv'
conv_df = pd.read_csv(conv_path, sep='\t', header=None)
conv_df.rename(columns={0:'CharID1', 1:'CharID2', 2:'MovieID', 3:'All_Lines'}, inplace=True)
conv_df['Conv_ID'] = conv_df.index
conv_df['Conv_ID'] = conv_df.Conv_ID.apply(lambda x: 'c'+str(x))

lines_path = 'data_cleaned_merged/movie_lines_with_all_metadata.csv'
lines_df = pd.read_csv(lines_path)
lines_df.columns = lines_df.columns.str.replace(' ', '_')

In [146]:
# lines_df['Length'] = lines_df.Line.apply(lambda x: len(x.split()))
# lines_df.to_csv(lines_path)

In [147]:
conv_df['Line_ID'] = conv_df.All_Lines.apply(lambda x: x[1:-2].replace("'", '').split(' '))

In [150]:
conv_df = conv_df.explode('Line_ID', ignore_index=True)
# conv_df = conv_df[['MovieID', 'Conv_ID', 'All_Lines', 'Line_ID']]
# conv_df.drop_duplicates

In [151]:
conv_df

,CharID1,CharID2,MovieID,All_Lines,Conv_ID,Line_ID
0,u0,u2,m0,['L194' 'L195' 'L196' 'L197'],c0,L194
1,u0,u2,m0,['L194' 'L195' 'L196' 'L197'],c0,L195
2,u0,u2,m0,['L194' 'L195' 'L196' 'L197'],c0,L196
3,u0,u2,m0,['L194' 'L195' 'L196' 'L197'],c0,L197
4,u0,u2,m0,['L198' 'L199'],c1,L198
...,...,...,...,...,...,...
304708,u9030,u9034,m616,['L666369' 'L666370' 'L666371' 'L666372'],c83095,L666371
304709,u9030,u9034,m616,['L666369' 'L666370' 'L666371' 'L666372'],c83095,L666372
304710,u9030,u9034,m616,['L666520' 'L666521' 'L666522'],c83096,L666520
304711,u9030,u9034,m616,['L666520' 'L666521' 'L666522'],c83096,L666521
304712,u9030,u9034,m616,['L666520' 'L666521' 'L666522'],c83096,L666522

In [153]:
conv_merged = conv_df.merge(lines_df, on='Line_ID', how='inner')
conv_merged = conv_merged[['CharID1', 'CharID2', 'MovieID', 'Conv_ID', 'Line_ID', 'Title', 'Year', 'IMDB_Rating', 'Votes', 'Genres', 'Character_ID', 'Character' ,'Gender', 'Position_in_Credits', 'Length', "Line"]] 
conv_merged

,CharID1,CharID2,MovieID,Conv_ID,Line_ID,Title,Year,IMDB_Rating,Votes,Genres,Character_ID,Character,Gender,Position_in_Credits,Length,Line
0,u0,u2,m0,c0,L194,10 things i hate about you,1999,6.9,62847.0,['comedy' 'romance'],u0,BIANCA,f,4,22,Can we make this quick? Roxanne Korrine and A...
1,u0,u2,m0,c0,L195,10 things i hate about you,1999,6.9,62847.0,['comedy' 'romance'],u2,CAMERON,m,3,12,Well I thought we'd start with pronunciation i...
2,u0,u2,m0,c0,L196,10 things i hate about you,1999,6.9,62847.0,['comedy' 'romance'],u0,BIANCA,f,4,9,Not the hacking and gagging and spitting part....
3,u0,u2,m0,c0,L197,10 things i hate about you,1999,6.9,62847.0,['comedy' 'romance'],u2,CAMERON,m,3,12,Okay... then how 'bout we try out some French ...
4,u0,u2,m0,c1,L198,10 things i hate about you,1999,6.9,62847.0,['comedy' 'romance'],u0,BIANCA,f,4,11,You're asking me out. That's so cute. What's ...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
303809,u9030,u9034,m616,c83095,L666371,zulu dawn,1979,6.4,1911.0,['action' 'adventure' 'drama' 'history' 'war'],u9030,DURNFORD,?,?,12,Lord Chelmsford seems to want me to stay back ...
303810,u9030,u9034,m616,c83095,L666372,zulu dawn,1979,6.4,1911.0,['action' 'adventure' 'drama' 'history' 'war'],u9034,VEREKER,?,?,23,I think Chelmsford wants a good man on the bor...
303811,u9030,u9034,m616,c83096,L666520,zulu dawn,1979,6.4,1911.0,['action' 'adventure' 'drama' 'history' 'war'],u9034,VEREKER,?,?,13,Well I assure you Sir I have no desire to crea...
303812,u9030,u9034,m616,c83096,L666521,zulu dawn,1979,6.4,1911.0,['action' 'adventure' 'drama' 'history' 'war'],u9030,DURNFORD,?,?,21,And I assure you you do not In fact I'd be obl...
303813,u9030,u9034,m616,c83096,L666522,zulu dawn,1979,6.4,1911.0,['action' 'adventure' 'drama' 'history' 'war'],u9034,VEREKER,?,?,18,So far only their scouts. But we have had repo...

In [201]:
f_lengths = conv_merged[conv_merged.Gender=='f'].groupby(['Conv_ID', 'MovieID', 'Title', 'Year', 'IMDB_Rating', 'Votes', 'Genres'], as_index=False).sum()
m_lengths = conv_merged[conv_merged.Gender=='m'].groupby(['Conv_ID', 'MovieID', 'Title', 'Year', 'IMDB_Rating', 'Votes', 'Genres'],as_index=False).sum()

# f_lengths = f_lengths[['MovieID', 'Conv_ID', 'Line_ID', 'Title', 'Year', 'IMDB_Rating', 'Votes', 'Genres', 'Character_ID', 'Character' ,'Gender', 'Position_in_Credits', 'Length', "Line"]]
f_lengths = f_lengths.rename(columns={'Length':'Length_Female'})
# m_lengths = m_lengths[['MovieID', 'Conv_ID', 'Line_ID', 'Title', 'Year', 'IMDB_Rating', 'Votes', 'Genres', 'Character_ID', 'Character' ,'Gender', 'Position_in_Credits', 'Length', "Line"]]
m_lengths = m_lengths.rename(columns={'Length':'Length_Male'})

convo_lengths = f_lengths.merge(m_lengths, on=['Conv_ID', 'MovieID', 'Title', 'Year', 'IMDB_Rating', 'Votes', 'Genres'])
convo_lengths['Total_Length'] = convo_lengths.Length_Female + convo_lengths.Length_Male
convo_lengths['Percent_Female'] = convo_lengths.Length_Female / convo_lengths.Total_Length
convo_lengths['Percent_Male'] = convo_lengths.Length_Male / convo_lengths.Total_Length

In [202]:
convo_lengths

,Conv_ID,MovieID,Title,Year,IMDB_Rating,Votes,Genres,Length_Female,Length_Male,Total_Length,Percent_Female,Percent_Male
0,c0,m0,10 things i hate about you,1999,6.9,62847.0,['comedy' 'romance'],31,24,55,0.563636,0.436364
1,c1,m0,10 things i hate about you,1999,6.9,62847.0,['comedy' 'romance'],11,2,13,0.846154,0.153846
2,c10,m0,10 things i hate about you,1999,6.9,62847.0,['comedy' 'romance'],17,10,27,0.629630,0.370370
3,c10000,m72,ghost world,2001,7.7,43550.0,['comedy' 'drama'],33,23,56,0.589286,0.410714
4,c10001,m72,ghost world,2001,7.7,43550.0,['comedy' 'drama'],2,10,12,0.166667,0.833333
...,...,...,...,...,...,...,...,...,...,...,...,...
25484,c9978,m72,ghost world,2001,7.7,43550.0,['comedy' 'drama'],17,48,65,0.261538,0.738462
25485,c9979,m72,ghost world,2001,7.7,43550.0,['comedy' 'drama'],1,3,4,0.250000,0.750000
25486,c9980,m72,ghost world,2001,7.7,43550.0,['comedy' 'drama'],13,78,91,0.142857,0.857143
25487,c9981,m72,ghost world,2001,7.7,43550.0,['comedy' 'drama'],43,64,107,0.401869,0.598131
25488,c9982,m72,ghost world,2001,7.7,43550.0,['comedy' 'drama'],12,4,16,0.750000,0.250000

In [203]:
convo_lengths.to_csv('data_cleaned_merged/conversation_gender_splits.csv')