In [1]:
import pandas as pd

In [42]:
path = 'data_cleaned_merged/movie_convo_genders.csv'
convo_genders_df = pd.read_csv(path)
convo_genders_df = convo_genders_df[['Conv_ID', 'Title', 'Convo_Genders']]
convo_genders_df.sort_values(by='Title').head()

      Conv_ID                       Title Convo_Genders
0          c0  10 Things I Hate About You            mf
4335     c139  10 Things I Hate About You            mf
26668     c34  10 Things I Hate About You            mf
10668    c196  10 Things I Hate About You            mm
4224     c138  10 Things I Hate About You            mf

In [71]:
df = convo_genders_df.groupby(['Title','Convo_Genders'], as_index=False).count()
df = df.pivot(columns='Convo_Genders', index='Title', values='Conv_ID').reset_index()
df = df.fillna('0')

In [72]:
df.head()

Convo_Genders                       Title  ff   mf   mm
0              10 Things I Hate About You  30  102   69
1              1492: Conquest Of Paradise   0    0   93
2                              15 Minutes   0   30  148
3                   2001: A Space Odyssey   0    0   73
4                                 48 Hrs.   0   32  149

In [83]:
df = df.astype({'ff': 'int32','mf': 'int32','mm': 'int32'})
df['Total'] = df['ff'] + df['mf'] + df['mm']
df['ff_percent'] = df['ff']/df['Total']
df['mf_percent'] = df['mf']/df['Total']
df['mm_percent'] = df['mm']/df['Total']

In [85]:
df.to_csv('data_cleaned_merged/conversation_gender_splits_percents.csv')