In [1]:
import pandas as pd
import numpy as np
import re

In [69]:
conv_path = 'dialogue_data/movie_conversations.tsv'
conv_df = pd.read_csv(conv_path, sep='\t', header=None)
conv_df.rename(columns={0:'CharID1', 1:'CharID2', 2:'MovieID', 3:'All_Lines'}, inplace=True)
conv_df['Conv_ID'] = conv_df.index
conv_df['Conv_ID'] = conv_df.Conv_ID.apply(lambda x: 'c'+str(x))

lines_path = 'data_cleaned_merged/movie_lines_with_all_metadata.csv'
lines_df = pd.read_csv(lines_path)
lines_df.columns = lines_df.columns.str.replace(' ', '_')

In [78]:
lines_df

,Unnamed:_0,Unnamed:_0,ID,Title,Year,IMDB_Rating,Votes,Genres,Unnamed:_0.1,Character_ID,Characters,Line,Line_ID,Movie_ID,Character,Gender,Position_in_Credits,Length
0,0,0,m0,10 things i hate about you,1999,6.9,62847.0,['comedy' 'romance'],0,u0,BIANCA,They do not!,L1045,m0,BIANCA,f,4,22
1,1,1,m0,10 things i hate about you,1999,6.9,62847.0,['comedy' 'romance'],2,u0,BIANCA,I hope so.,L985,m0,BIANCA,f,4,20
2,2,2,m0,10 things i hate about you,1999,6.9,62847.0,['comedy' 'romance'],4,u0,BIANCA,Let's go.,L925,m0,BIANCA,f,4,16
3,3,3,m0,10 things i hate about you,1999,6.9,62847.0,['comedy' 'romance'],6,u0,BIANCA,Okay -- you're gonna need to learn how to lie.,L872,m0,BIANCA,f,4,77
4,4,4,m0,10 things i hate about you,1999,6.9,62847.0,['comedy' 'romance'],8,u0,BIANCA,I'm kidding. You know how sometimes you just ...,L870,m0,BIANCA,f,4,157
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
303809,303809,303809,m616,zulu dawn,1979,6.4,1911.0,['action' 'adventure' 'drama' 'history' 'war'],304704,u9034,VEREKER,So far only their scouts. But we have had repo...,L666522,m616,VEREKER,?,?,146
303810,303810,303810,m616,zulu dawn,1979,6.4,1911.0,['action' 'adventure' 'drama' 'history' 'war'],304706,u9034,VEREKER,Well I assure you Sir I have no desire to crea...,L666520,m616,VEREKER,?,?,105
303811,303811,303811,m616,zulu dawn,1979,6.4,1911.0,['action' 'adventure' 'drama' 'history' 'war'],304707,u9034,VEREKER,I think Chelmsford wants a good man on the bor...,L666372,m616,VEREKER,?,?,194
303812,303812,303812,m616,zulu dawn,1979,6.4,1911.0,['action' 'adventure' 'drama' 'history' 'war'],304709,u9034,VEREKER,I'm to take the Sikali with the main column to...,L666370,m616,VEREKER,?,?,93
303813,303813,303813,m616,zulu dawn,1979,6.4,1911.0,['action' 'adventure' 'drama' 'history' 'war'],304712,u9034,VEREKER,Colonel Durnford... William Vereker. I hear yo...,L666256,m616,VEREKER,?,?,108

In [70]:
conv_df['Line_ID'] = conv_df.All_Lines.apply(lambda x: x[1:-2].replace("'", '').split(' '))

In [71]:
conv_df = conv_df.explode('Line_ID', ignore_index=True)
conv_df

,CharID1,CharID2,MovieID,All_Lines,Conv_ID,Line_ID
0,u0,u2,m0,['L194' 'L195' 'L196' 'L197'],c0,L194
1,u0,u2,m0,['L194' 'L195' 'L196' 'L197'],c0,L195
2,u0,u2,m0,['L194' 'L195' 'L196' 'L197'],c0,L196
3,u0,u2,m0,['L194' 'L195' 'L196' 'L197'],c0,L197
4,u0,u2,m0,['L198' 'L199'],c1,L198
...,...,...,...,...,...,...
304708,u9030,u9034,m616,['L666369' 'L666370' 'L666371' 'L666372'],c83095,L666371
304709,u9030,u9034,m616,['L666369' 'L666370' 'L666371' 'L666372'],c83095,L666372
304710,u9030,u9034,m616,['L666520' 'L666521' 'L666522'],c83096,L666520
304711,u9030,u9034,m616,['L666520' 'L666521' 'L666522'],c83096,L666521
304712,u9030,u9034,m616,['L666520' 'L666521' 'L666522'],c83096,L666522

In [72]:
conv_merged = conv_df.merge(lines_df, on='Line_ID')
# conv_merged.dtypes
conv_merged = conv_merged[['CharID1', 'CharID2', 'MovieID', 'Conv_ID', 'Line_ID', 'Title', 'Year', 'IMDB_Rating', 'Votes', 'Genres', 'Character_ID', 'Character' ,'Gender', 'Position_in_Credits', 'Length', "Line"]]

In [77]:
conv_merged

,CharID1,CharID2,MovieID,Conv_ID,Line_ID,Title,Year,IMDB_Rating,Votes,Genres,Character_ID,Character,Gender,Position_in_Credits,Length,Line
0,u0,u2,m0,c0,L194,10 things i hate about you,1999,6.9,62847.0,['comedy' 'romance'],u0,BIANCA,f,4,198,Can we make this quick? Roxanne Korrine and A...
1,u0,u2,m0,c0,L195,10 things i hate about you,1999,6.9,62847.0,['comedy' 'romance'],u2,CAMERON,m,3,106,Well I thought we'd start with pronunciation i...
2,u0,u2,m0,c0,L196,10 things i hate about you,1999,6.9,62847.0,['comedy' 'romance'],u0,BIANCA,f,4,82,Not the hacking and gagging and spitting part....
3,u0,u2,m0,c0,L197,10 things i hate about you,1999,6.9,62847.0,['comedy' 'romance'],u2,CAMERON,m,3,108,Okay... then how 'bout we try out some French ...
4,u0,u2,m0,c1,L198,10 things i hate about you,1999,6.9,62847.0,['comedy' 'romance'],u0,BIANCA,f,4,95,You're asking me out. That's so cute. What's ...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
303809,u9030,u9034,m616,c83095,L666371,zulu dawn,1979,6.4,1911.0,['action' 'adventure' 'drama' 'history' 'war'],u9030,DURNFORD,?,?,99,Lord Chelmsford seems to want me to stay back ...
303810,u9030,u9034,m616,c83095,L666372,zulu dawn,1979,6.4,1911.0,['action' 'adventure' 'drama' 'history' 'war'],u9034,VEREKER,?,?,194,I think Chelmsford wants a good man on the bor...
303811,u9030,u9034,m616,c83096,L666520,zulu dawn,1979,6.4,1911.0,['action' 'adventure' 'drama' 'history' 'war'],u9034,VEREKER,?,?,105,Well I assure you Sir I have no desire to crea...
303812,u9030,u9034,m616,c83096,L666521,zulu dawn,1979,6.4,1911.0,['action' 'adventure' 'drama' 'history' 'war'],u9030,DURNFORD,?,?,164,And I assure you you do not In fact I'd be obl...
303813,u9030,u9034,m616,c83096,L666522,zulu dawn,1979,6.4,1911.0,['action' 'adventure' 'drama' 'history' 'war'],u9034,VEREKER,?,?,146,So far only their scouts. But we have had repo...