In [4]:
import pandas as pd
import numpy as np
import re

### Movies metadata

In [5]:
movies_path = 'dialogue_data/movie_titles_metadata.tsv'
movies_df = pd.read_csv(movies_path, sep='\t', header=None)
movies_df.rename(columns={0:'ID', 1:'Title', 2:'Year', 3:'IMDB Rating', 4:'Votes', 5:'Genres'}, inplace=True)

In [6]:
movies_df

,ID,Title,Year,IMDB Rating,Votes,Genres
0,m0,10 things i hate about you,1999,6.9,62847.0,['comedy' 'romance']
1,m1,1492: conquest of paradise,1992,6.2,10421.0,['adventure' 'biography' 'drama' 'history']
2,m2,15 minutes,2001,6.1,25854.0,['action' 'crime' 'drama' 'thriller']
3,m3,2001: a space odyssey,1968,8.4,163227.0,['adventure' 'mystery' 'sci-fi']
4,m4,48 hrs.,1982,6.9,22289.0,['action' 'comedy' 'crime' 'drama' 'thriller']
5,m5,the fifth element,1997,7.5,133756.0,['action' 'adventure' 'romance' 'sci-fi' 'thri...
6,m6,8mm,1999,6.3,48212.0,['crime' 'mystery' 'thriller']
7,m7,a nightmare on elm street 4: the dream master,1988,5.2,13590.0,['fantasy' 'horror' 'thriller']
8,m8,a nightmare on elm street: the dream child,1989,4.7,11092.0,['fantasy' 'horror' 'thriller']
9,m9,the atomic submarine,1959,4.9,513.0,['sci-fi' 'thriller']
10,m10,affliction,1997,6.9,7252.0,['drama' 'mystery' 'thriller']
11,m11,air force one,1997,6.3,61978.0,['action' 'drama' 'thriller']
12,m12,airplane ii: the sequel,1982,5.8,15210.0,['comedy' 'romance' 'sci-fi']
13,m13,airplane!,1980,7.8,57692.0,['comedy' 'romance']
14,m14,alien nation,1988,6.1,5590.0,['crime' 'drama' 'sci-fi' 'thriller']
15,m15,aliens,1986,8.5,173518.0,['action' 'sci-fi' 'thriller']
16,m16,amadeus,1984,8.4,99138.0,['biography' 'drama' 'music']
17,m17,an american werewolf in london,1981,7.5,24443.0,['horror' 'romance']
18,m18,american madness,1932,7.4,702.0,['drama']
19,m19,american outlaws,2001,5.7,7425.0,['action' 'western']
20,m20,american psycho,2000,7.4,101357.0,['drama' 'thriller']
21,m21,antitrust,2001,6.0,16453.0,['drama' 'thriller']
22,m22,austin powers: international man of mystery,1997,7.1,75240.0,['action' 'adventure' 'comedy' 'crime']
23,m23,the avengers,1998,3.4,21519.0,['action' 'adventure' 'thriller']
24,m24,bachelor party,1984,5.9,14050.0,['comedy' 'romance']
25,m25,backdraft,1991,6.6,28541.0,['action' 'crime' 'drama' 'mystery' 'thriller']
26,m26,bad lieutenant,1992,6.9,13908.0,['crime' 'drama']
27,m27,bamboozled,2000,6.3,5995.0,['comedy' 'drama' 'music']
28,m28,barry lyndon,1975,8.1,40622.0,['drama' 'romance' 'war']
29,m29,basic,2003,6.3,26295.0,['crime' 'drama' 'mystery' 'thriller']
...,...,...,...,...,...,...
587,m587,twelve monkeys,1995,8.1,173320.0,['mystery' 'sci-fi' 'thriller']
588,m588,u-turn,1973,5.8,37.0,['drama']
589,m589,u turn,1997,6.7,25388.0,['crime' 'drama' 'thriller']
590,m590,unbreakable,2000,7.3,98767.0,['drama' 'fantasy' 'mystery' 'thriller']
591,m591,unforgiven,1992,8.3,101270.0,['drama' 'western']
592,m592,the usual suspects,1995,8.7,272137.0,['crime' 'mystery' 'thriller']
593,m593,verdict,1974,5.7,135.0,['drama']
594,m594,vertigo,1958,8.6,93524.0,['crime' 'mystery' 'romance' 'thriller']
595,m595,very bad things,1998,6.0,22977.0,['comedy' 'crime' 'thriller']
596,m596,viridiana,1961,8.2,6288.0,['drama']
597,m597,virtuosity,1995,5.3,11191.0,['action' 'crime' 'sci-fi' 'thriller']
598,m598,wag the dog,1997,7.1,36448.0,['comedy' 'drama']
599,m599,wall street,1987,7.3,39082.0,['crime' 'drama']
600,m600,waxwork,1988,6.0,2596.0,['comedy' 'fantasy' 'horror']
601,m601,what lies beneath,2000,6.5,46195.0,['drama' 'horror' 'mystery' 'thriller']
602,m602,what women want,2000,6.3,55269.0,['comedy' 'fantasy' 'romance']
603,m603,the witching hour,1996,6.5,69.0,['documentary' 'short']
604,m604,white angel,1994,4.4,99.0,['drama' 'thriller']
605,m605,who's your daddy?,2003/I,4.5,2267.0,['comedy']
606,m606,wild things,1998,6.6,40523.0,['crime' 'mystery' 'thriller']
607,m607,wild wild west,1999,4.3,54943.0,['action' 'western' 'comedy' 'sci-fi']
608,m608,willow,1988,7.1,33506.0,['action' 'adventure' 'drama' 'fantasy' 'roman...
609,m609,witness,1985,7.6,30705.0,['drama' 'romance' 'thriller']
610,m610,the wizard of oz,1939,8.3,104873.0,['adventure' 'family' 'fantasy' 'musical']
611,m611,the world is not enough,1999,6.3,60047.0,['action' 'adventure' 'thriller']
612,m612,watchmen,2009,7.8,135229.0,['action' 'crime' 'fantasy' 'mystery' 'sci-fi'...
613,m613,xxx,2002,5.6,53505.0,['action' 'adventure' 'crime']
614,m614,x-men,2000,7.4,122149.0,['action' 'sci-fi']
615,m615,young frankenstein,1974,8.0,57618.0,['comedy' 'sci-fi']
616,m616,zulu dawn,1979,6.4,1911.0,['action' 'adventure' 'drama' 'history' 'war']

### Exporting movie lines dataset as CSV

In [5]:
# line_ids = []
# char_ids = []
# movie_ids = []
# chars = []
# lines = []
# dialogue_path = 'dialogue_data/movie_lines.tsv'
# with open(dialogue_path) as f:
#     for curr in f:
#         L = curr.index('L')
#         U = curr.index('u')
#         M = curr.index('m')
#         C = curr.index('\t', M+1)
#         S = curr.index('\t', C+1)
#         line_id = curr[L:U].strip()
#         char_id = curr[U:M].strip()
#         movie_id = curr[M:C].strip()
#         char = curr[C:S].strip()
#         line = curr[S:].strip()

#         line_ids.append(line_id)
#         char_ids.append(char_id)
#         movie_ids.append(movie_id)
#         chars.append(char)
#         lines.append(line)
#         if len(line_ids)%1000==0:
#             print(len(line_ids))

# lines_df = lines_df.from_dict({'Line ID':line_ids, 'Character ID':char_ids, 'Movie ID':movie_ids,'Character':chars, 'Line':lines})

In [6]:
# lines_df.to_csv('movie_lines_cleaned.csv')

NameError: name 'lines_df' is not defined

### Movies character metadata

In [7]:
lines_df = pd.read_csv('data_cleaned_merged/movie_lines_cleaned.csv')

In [8]:
char_path = 'dialogue_data/movie_characters_metadata.tsv'
char_df = pd.read_csv(char_path, sep='\t', header=None)
char_df.rename(columns={0:'Character ID', 1:'Character', 2:'Movie ID', 3:'Title', 4:'Gender', 5:'Position in Credits'}, inplace=True)
char_df.Gender = char_df.Gender.str.lower()

In [9]:
char_df.head()

,Character ID,Character,Movie ID,Title,Gender,Position in Credits
0,u0,BIANCA,m0,10 things i hate about you,f,4
1,u1,BRUCE,m0,10 things i hate about you,?,?
2,u2,CAMERON,m0,10 things i hate about you,m,3
3,u3,CHASTITY,m0,10 things i hate about you,?,?
4,u4,JOEY,m0,10 things i hate about you,m,6

### Merging character metadata w/ lines data

In [10]:
merged = lines_df.merge(char_df, on=['Character ID','Movie ID'], how='inner', suffixes=['1','2'])
merged.Gender=merged.Gender.str.lower()

In [11]:
merged = merged.dropna()

In [12]:
merged.to_csv('data_cleaned_merged/movie_lines_with_characters.csv')

### Female vs. Male Presence in Credits & Lines

In [13]:
print('Female lines: ' + str(len(merged[merged.Gender =='f'])))
print('Male lines: ' + str(len(merged[merged.Gender =='m'])))
print('Unk gender lines: ' + str(len(merged[merged.Gender =='?'])))

Female lines: 71134
Male lines: 170200
Unk gender lines: 62480

In [14]:
for i in range(1,11):
    filter = char_df["Position in Credits"]==str(i)
    pos = char_df.where(filter, inplace=False).dropna()
    print('#' + str(i) + ' Male Characters: ' + str(len(pos[pos.Gender == 'm'])))
    print('#' + str(i) + ' Female Characters: ' + str(len(pos[pos.Gender == 'f'])))
    print('#' + str(i) + ' Unk Characters: ' + str(len(pos[pos.Gender == '?']) + len(pos[pos.Gender == np.NaN] )))

#1 Male Characters: 408
#1 Female Characters: 89
#1 Unk Characters: 0
#2 Male Characters: 232
#2 Female Characters: 211
#2 Unk Characters: 0
#3 Male Characters: 232
#3 Female Characters: 120
#3 Unk Characters: 0
#4 Male Characters: 185
#4 Female Characters: 83
#4 Unk Characters: 0
#5 Male Characters: 159
#5 Female Characters: 52
#5 Unk Characters: 0
#6 Male Characters: 123
#6 Female Characters: 46
#6 Unk Characters: 0
#7 Male Characters: 86
#7 Female Characters: 39
#7 Unk Characters: 0
#8 Male Characters: 65
#8 Female Characters: 35
#8 Unk Characters: 0
#9 Male Characters: 51
#9 Female Characters: 28
#9 Unk Characters: 0
#10 Male Characters: 32
#10 Female Characters: 22
#10 Unk Characters: 0

In [15]:
merged['Length'] = merged['Line'].apply(lambda d: d.split())

In [17]:
# Total length of lines by gender
merged.groupby('Gender').sum()

         Unnamed: 0
Gender
?        9582114327
f       10998298267
m       25663706555

In [18]:
# Avg length of lines by gender
merged.groupby('Gender').mean()

           Unnamed: 0
Gender
?       153362.905362
f       154613.803062
m       150785.584929

In [28]:
merged_all = movies_df.merge(merged, on=['Title'], how='inner')

In [30]:
merged_all.to_csv('data_cleaned_merged/movie_lines_with_all_metadata.csv')

In [40]:
test = movies_df.groupby('Year').count().sort_values(by='Year')
test

        ID  Title  IMDB Rating  Votes  Genres
Year
1927     2      2            2      2       2
1931     2      2            2      2       2
1932     4      4            4      4       4
1933     2      2            2      2       2
1934     3      3            3      3       3
1936     1      1            1      1       1
1937     1      1            1      1       1
1939     3      3            3      3       3
1940     2      2            2      2       2
1941     2      2            2      2       2
1942     1      1            1      1       1
1943     3      3            3      3       3
1944     1      1            1      1       1
1945     2      2            2      2       2
1946     1      1            1      1       1
1949     3      3            3      3       3
1950     2      2            2      2       2
1953     3      3            3      3       3
1954     3      3            3      3       3
1955     3      3            3      3       3
1956     1      1            1      1       1
1957     1      1            1      1       1
1958     1      1            1      1       1
1959     3      3            3      3       3
1960     3      3            3      3       3
1961     2      2            2      2       2
1963     2      2            2      2       2
1964     3      3            3      3       3
1965     1      1            1      1       1
1966     2      2            2      2       2
...     ..    ...          ...    ...     ...
1992    18     18           18     18      18
1992/I   1      1            1      1       1
1993    18     18           18     18      18
1994    19     19           19     19      19
1995    21     21           21     21      21
1995/I   1      1            1      1       1
1996    23     23           23     23      23
1996/I   1      1            1      1       1
1997    38     38           38     38      38
1998    34     34           34     34      34
1998/I   3      3            3      3       3
1999    42     42           42     42      42
2000    40     40           40     40      40
2000/I   1      1            1      1       1
2001    30     30           30     30      30
2002    17     17           17     17      17
2002/I   1      1            1      1       1
2003    15     15           15     15      15
2003/I   1      1            1      1       1
2004    13     13           13     13      13
2004/I   1      1            1      1       1
2005     8      8            8      8       8
2005/I   1      1            1      1       1
2006     6      6            6      6       6
2007     4      4            4      4       4
2007/I   1      1            1      1       1
2008     1      1            1      1       1
2009     2      2            2      2       2
2009/I   1      1            1      1       1
2010     1      1            1      1       1

[88 rows x 5 columns]